## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.DS_Store
# *.modulemap

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# JetBrains AppCode
.idea

## checking .ruby-version into the repo in order to "lock" the ruby version to a specific number
## this is used by the rbenv tool in order to use a specific ruby version within this directory...
# rbenv local ruby version file
#.ruby-version

# Bundler
.bundle/bin
.bundle/cache
.bundle/extensions
.bundle/gems
.bundle/ruby
.bundle/specifications

# Custom logs for updating local resources
update-static-ressources-int.log
update-static-ressources-git.log
update-static-ressources-prod.log

# SonarQube's sonar-scanner
.scannerwork
sonarqube-coverage.xml

_Builds/
